<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <title>Footer</title>
</head>
<body>

    <footer class="footer">
        <img src="imagem-livro.png" alt="Logo" class="footer-logo">
        <p>&copy; 2024 Livraria. Todos os direitos reservados.</p>
        <nav>
            <a href="#sobre">Sobre</a>
            <a href="#contato">Contato</a>
            <a href="#privacidade">Política de Privacidade</a>
        </nav>
    </footer>

    
</body>
</html>